.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.borders {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.chart {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noImageText {
    font-size: 1rem;
    color: #999;
    margin-bottom: 20px;
}